* {
    margin: 0;
    padding: 0;
}

body {
    display: inline-flex;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

header, footer {
    background-color: lightblue;
}

.container {
    background-color: blanchedalmond;
}

.card {
    background-color: rgb(210, 230, 232);
    border: 10px;
    padding: 20px;
    border-radius: 20px;
    width: auto;
    max-width: fit-content;
    margin: 20px;

}